<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
	</dict>
  <key>LSMultipleInstancesProhibited</key>
  <false/>
  <key>UTImportedTypeDeclarations</key>
  <array>
      <dict>
          <key>UTTypeConformsTo</key>
          <array>
              <string>public.movie</string>
              <string>public.audiovisual-content</string>
          </array>
          <key>UTTypeDescription</key>
          <string>Matroska Video File</string>
          <key>UTTypeIconFiles</key>
          <array/>
          <key>UTTypeIdentifier</key>
          <string>org.matroska.mkv</string>
          <key>UTTypeTagSpecification</key>
          <dict>
              <key>public.filename-extension</key>
              <array>
                  <string>mkv</string>
              </array>
              <key>public.mime-type</key>
              <array>
                  <string>video/x-matroska</string>
              </array>
          </dict>
      </dict>
  </array>
</dict>
</plist>
